.itemm:hover {
    background-color: rgba(128, 128, 128, 0.2);
    color: white;
}

.navbar-nav .nav-link.active {
    background-color: rgb(246, 182, 7) !important;
    color: #003b95 !important;
    border-radius: 5px 5px;
}

.itemm{
    border-radius:5px 5px;
}

.navbar-nav .nav-link {
color:white !important;
}

@media (max-width: 991.98px) {
 .itemm .nav-link{
     color:white !important;
 }

    .minsize{
        padding:0 !important;
        width: 60% !important;
    }
}