@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/_navaddprocessparial.css" />

}
<partial name="_NavaddprocesshotelPartial"></partial>

<hr />
<div id="getall_hotel"></div>

