@*<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th >Booking ID</th>
            <th>User Name</th>
            <th>CheckinDate </th>
            <th>CheckOutDate</th>
            <th>Payment Status</th>
            <th>Room Status</th>
            <th>Reservation Rooms</th>
        </tr>
    </thead>
   
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <ul>
<li></li>
             
                </ul>
            </td>
        </tr>
    
</table>
 *@
<section class="intro">
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
 <div class="mask d-flex align-items-center h-100">
   <div class="container">
  <div class="row justify-content-center">
      <div class="col-12">
   <div class="card">
      <div class="card-body p-0">
      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
       <table class="table table-striped mb-0">
        <thead style="background-color: #002d72;">
        <tr>
       <th scope="col">Booking ID</th>
       <th scope="col">User Name</th>
        <th scope="col">CheckinDate </th>
         <th scope="col">CheckOutDate</th>
         <th scope="col">Payment Status</th>
         <th scope="col">Room Status</th>
         <th scope="col">Reservation Rooms</th>
         </tr>
            </thead>
          <tbody>
           <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
            <td>
          <ul class="list-group-flush">
          <li class="list-group-flush">Room 1</li>
          
             </ul>
             </td>
           </tr>
                                            
         
                                           
      </tbody>
     </table>
    </div>
      </div>
    </div>
   </div>
   </div>
 </div>
 </div>
</div>
</section>





