@{
    string path_gethotel = "hotel/getall";
    string path_rooms = "admin/rooms";
}
<link href="~/css/itemnavadminpartial.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px; margin-left:14rem">
                <li class="nav-item itemm mx-2 p-2 pr-3">
                    @* <a class="nav-link" asp-action="getall" asp-controller="hotel">Hotel</a> *@
                    @* <a class="nav-link" id="hotel" asp-action="getall" asp-controller="hotel" >Hotel</a> *@
                    @* <a class="@(path_gethotel=="hotel/getall"?"nav-link active":"nav-link")" id="hotel" asp-action="getall" asp-controller="hotel">Hotel</a> *@
                    <a class="nav-link" id="_hotel" onclick="DisplayHotels()" href="#">Hotel</a>

                </li>
               
                <li class="nav-item itemm mx-2 p-2 pr-3">
                    <a class="nav-link"  onclick="DisplayRooms()" href="#">Rooms</a>
                </li>
                <li class="nav-item itemm mx-2 p-2 pr-3">
                    <a class="nav-link"  onclick="DisplayAmenties()" href="#">Amenties</a>
                </li>
               
                <li class="nav-item itemm mx-2 p-2 pr-3">
                    <a class="nav-link" href="#" onclick="DisplayUsers()">Users</a>
                </li>
                <li class="nav-item itemm mx-2 p-2 pr-3">
                    <a class="nav-link" href="#" onclick="DisplayReservations()">Reservations</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts{
    <script src="/js/Hotel_ajax.js"></script>

}
