  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light"
     id="templateux-navbar"
     style="background-color: #003b95">
    <div class="@(User.Identity.IsAuthenticated==false ? "container" : "container-fluid")">
        <a class="navbar-brand fw-bold" href="index.html" id="booking">
            Booking.com
        </a>
        <div class="site-menu-toggle js-site-menu-toggle ml-auto collapsestyle"
             data-aos="fade"
             data-toggle="collapse"
             data-target="#templateux-navbar-nav"
             aria-controls="templateux-navbar-nav"
             aria-expanded="false"
             aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="collapse navbar-collapse" id="templateux-navbar-nav">
            <ul class="@(User.Identity.IsAuthenticated==false ?"navbar-nav ml-auto justify-content-between" : "navbar-nav w-95 justify-content-between")">
                @if (User.Identity.IsAuthenticated == false)
                {
                    <li class="nav-item cta-btn">
                        <a class="nav-link"

                        target="_self"
                        asp-action="Register"
                        asp-controller="Account"
                        style="padding-left: 0 !important; padding-right: 0 !important"><span class="pb_rounded-4 rounded navlinks">Register</span></a>
                    </li>
                    <li class="nav-item cta-btn">
                        <a class="nav-link"  target="_self" asp-action="Login" asp-controller="Account"><span class="pb_rounded-4 rounded navlinks">Login</span></a>
                    </li>
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <partial name ="_itemNavAdminPartial"></partial> 
                    }
                     <partial name="_LoginPartial"></partial>
                }
            </ul>
        </div>

    </div>
</nav>
<!-- END nav -->
